<h1>Hey its me Raman's Dad</h1>
<section>
<div class="card mb-3" style="width: 40rem;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../images/male.svg" class="img-fluid rounded-start" alt="male svg">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">My Dad</h5>
        <p class="card-text" "bg-dark">My father served in the armed forces for 15 years and is now 48 years old. After retiring from the army, he now focuses on farming, as we have farmland in India. He is a strict and serious person, but his greatest quality is his consistency. He is always the same, both inside and out, and never judges anyone or feels jealousy towards others. He has taught me how to be strong in difficult situations. He is a true family man and always reminds me that, no matter what, family will always be there for you."</p>
      </div>
    </div>
  </div>
</div>
</section>