<h1>Hey its me Raman's Girlfriend</h1>
<section>
<div class="card mb-3" style="width: 40rem;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../images/female.svg" class="img-fluid rounded-start" alt="female svg">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">My Girlfriend</h5>
        <p class="card-text" "bg-dark">"Now i will talk abot my Girlfriend whom i met 3 years ago.She is currently studying Mass Communication and performing in theater in India. She has helped me to understand the female perspective on things and always brightens my mood, even after a bad day. She is determined and caring, and always puts the needs of those she loves first. She has been a positive influence on me, helping me to recognize what is right and wrong. I appreciate that she shares all aspects of her life with me, both the good and the bad. To me, she is like a best friend, mentor, and family member all rolled into one, and I have learned so much from her."</p>
      </div>
    </div>
  </div>
</div>
</section>