
<h1>{{title}}</h1>
<section>
<div class="card mb-3" style="width: 40rem;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../images/male.svg" class="img-fluid rounded-start" alt="male svg">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Hey It's Me</h5>
        <p class="card-text" "bg-dark">"Hello everyone, my name is Ramandeep Singh and I'm from Punjab, India. I completed my high school education at Army Public School Beas, and then I decided to pursue further studies in Canada. I've now been living in Canada for a year and a half and have experienced both good and bad moments. As I grow older, I am learning new things and gaining valuable life experiences that come with adulthood."</p>
        <p>"When it comes to my interests, I have a great love for cricket. In India, I used to play cricket with my friends every day after school, and on weekends we would even get up early to play for hours. Cricket has always been my favorite sport, and as a child, I dreamed of becoming a professional cricket player. However, I was afraid to take the risk and pursue it as a career. I often wish there was a time machine that could transport me back to my childhood so that I could put all my efforts into becoming a professional cricket player."</p>
      </div>
    </div>
  </div>
</div>
</section>