<h1>Hey its me Raman's Mom</h1>
<section>
<div class="card mb-3" style="width: 40rem;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../images/female.svg" class="img-fluid rounded-start" alt="female svg">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">My Mom</h5>
        <p class="card-text" "bg-dark">"My mother is a primary school teacher and is now 50 years old. Despite her age, she doesn't look it and continues to teach and handle all household tasks on her own. She is a hardworking woman who does her best to support her family, both emotionally and financially. I am extremely close to her and consider her to be my rock. Whenever I am feeling down, she is the first person I turn to because she always has a way of making me feel better, no matter the situation. I would describe her as a strong, hardworking, dedicated, and supportive person.".</p>
      </div>
    </div>
  </div>
</div>
</section>